<form action="/recipes/new" method="POST">
    Recipe Name<input type="text" name="recipe[name]">
    Recipe Ingredient<input type="text" name="recipe[ingredients]">
    Recipe Cook Time <input type="text" name="recipe[cook_time]">
    <input type="submit">
</form>